@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    /* theme colors */
    --light-cream:#F4FFC3;
    --light-green:#A9C46C;
    --olive-green:#809D3C;
    --dark-olive-green:#5D8736;
}